/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/counter/counter.styles.css ***!
  \*********************************************************************************************/
.header {
    padding: 15px;
}

h4 {
    margin-left: 25px;
}

.counter_btn {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

